{% extends "base.html" %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Score Tracker</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        h1 {
            text-align: center;
        }
    </style>
</head>
<body>

<h1>Score Tracker</h1>

<p>Welcome to the Score Master 3000! 🏆🎮 This epic website is your ultimate companion for tracking the intense battles and epic showdowns between two gaming enthusiasts in chess, Yaniv, and Super Smash Bros. </p>
<br>
<p>Brace yourselves for a rollercoaster of scores, victories, and the occasional game-changing move! Let the games begin and may the best player emerge victorious over the course of many thrilling months! 🚀👾✨</p>
<footer>
    <p>Designed by .irazú</p>
</footer>

</body>

{% endblock %}